<nav class="nav header__nav">
    <div id="menuToggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="nav__list flex-disp">
        <li class="nav__item" data-page="about"><a href="/about" class="nav__link flex-disp"><i
                    class="fas fa-book-open nav__icon"></i><span class="nav__text">About</span></a></li>
        <li class="nav__item" data-page="main" id="playgroundBtn"><a href="/main" class="nav__link flex-disp"><i
                    class="fas fa-play nav__icon"></i><span class="nav__text">Playground</span></a></li>
        <li class="nav__item" data-page="highscore"><a href="/highscore" class="nav__link flex-disp"><i
                    class="fas fa-star nav__icon"></i><span class="nav__text">Highscores</span></a></li>
        <li class="nav__item nav__item--dropdown profile-has-dropdown" data-page="profile"><a href="/profile"
                class="nav__link flex-disp"><i class="fas fa-chart-bar nav__icon"></i><span
                    class="nav__text">Profile</span><i class="fas fa-angle-down nav__icon--angle"></i></a>
            <ul id="profile-dropdown" class="nav__dropdown">
                <li class="nav__dropdown--item"><a href="/profile" class="nav__dropdown--link flex-disp"><i
                            class="fas fa-edit nav__dropdown--icon"></i><span class="nav__text">Edit Profile</span></a>
                </li>
                <li class="nav__dropdown--item"><a href="/history" class="nav__dropdown--link flex-disp"><i
                            class="fas fa-history nav__dropdown--icon"></i><span class="nav__text">History</span></a>
                </li>
                <li class="nav__dropdown--item"><a href="/stats" class="nav__dropdown--link flex-disp"><i
                            class="fas fa-chart-line nav__dropdown--icon"></i><span class="nav__text">Stats</span></a>
                </li>

            </ul>
        </li>
    </ul>
</nav>