<div class="overlay hidden">
    <div class="overlay__inner">
        <div class="lds-roller loader loader-main hidden">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p class="overlay__message">Setting up vars</p>
    </div>

</div>

