{{> header}}

    <h2>Hello, {{user}} <img src="{{imgUrl}}" alt="Profile Pic" width="72"></h2>

    <h1>History Page</h1>

    <div id="task-history"></div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/js/history.js"></script>
</body>

</html>