{{> header}}

    <h3>Already {{message}} as <span class="sec-color-txt fw-600 font-size-medium">{{user}}</span>! </h3>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>