{{> header}}

{{> page-headline}}
<div class="row">
    <div id="main" class="main">
        <div class="card flex-disp">
            <h3 class="card__headline">{{title}}</h3>
            <form action="post" id="login-form" class="form-card form">
                <div class="form-card__group">
                    <label for="username" class="form-card__label">Username: </label>
                    <input type="text" name="username" id="username" placeholder="Enter username"
                        class="form-card__input" autofocus required>
                </div>
                <div class="form-card__group">
                    <label for="password" class="form-card__label">Password: </label>
                    <input type="password" name="password" id="password" placeholder="Enter password"
                        class="form-card__input" required>
                </div>
                <button type="submit" id="loginBtn" class="btn form-card__btn btn__main btn__main--red">Enter</button>
            </form>
            <div id="form-response" class="hidden form-popup">
                <div class="lds-roller loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <span class="form-popup__message hidden"></span>
            </div>
        </div>
    </div>
</div>
<div class="overlay hidden">

</div>





<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/js/UI-validation.js"></script>
<script src="/js/login.js"></script>
<script src="/js/main.js"></script>
</body>

</html>