{{> header}}
    {{> page-headline}}
    <div class="row">
        <div class="main" id="main">
<h2 class="txt-center">You do not have access to this page. Login or register to get access.</h2>
        </div>
    </div>
    

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>