@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin border-gradient($color1, $color2, $size) {
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        border-radius: inherit;
        margin: -$size;
        z-index: -1;
        background: #bc9405;
        background: -webkit-gradient(linear, left top, right top, from($color1), color-stop(49%, $color2), to($color2));
        background: linear-gradient(to right, $color1 0%, $color2 49%, $color2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=1);
    }
}

@mixin background-gradient($color1, $color2) {
    background: #bc9405;
    background: -webkit-gradient(linear, left top, right top, from($color1), color-stop(49%, $color2), to($color2));
    background: linear-gradient(to right, $color1 0%, $color2 49%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=1);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:       Phone
600 - 900px:     Tablet portrait
900 - 1200px:    Tablet Landscape
[1200 - 1800px]  is where our normal styles apply
1800px + :       Big desktop


 $breakpoint argument choices:

    - phone
    - tab-port
    - tab-land
    - big-desktop


ORDER: Base + typography > general layout + grid > page layout > components

    1em = 16px;
*/


@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            // 600px
            @content;
        }
    }

    @if $breakpoint==tab-port {
        @media (max-width: 63.5em) {
            // 1020
            @content;
        }
    }

    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            // 1200px
            @content;
        }
    }

    @if $breakpoint==big-desktop {
        @media (min-width: 112.5em) {
            // 1800px
            @content;
        }
    }
}