// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// COLORS

$bg-black-light: #28292C;
$bg-black-medium: #211a23;
$bg-black-dark: #222;

$yellow-main-color: lighten(#BC9405, 10%);
$red-main-color: #FF5C26;
$border-main-color: rgb(255, 126, 109);
$green-main-color: #00BC22;

$link-main-color: rgb(31, 214, 238);

$white-color: #f1f1f1;