.accordion {

    &__button {
        width: 100%;
        padding: 1.988rem 1.453rem;
        justify-content: space-between;
        background-color: $bg-black-light;
        margin-bottom: 3.5rem;
    }
    &__body {
        background-color: $bg-black-medium;
        margin-bottom: 2.5rem;
        //display: none;
        margin-top: -3.6rem;
        max-height: 0;
        transition: max-height 0.4s ease-out;
        overflow: hidden;
        & > *:first-child {
            margin: 15px auto;
        }
    }

    &__button.active, &__button:hover {
        cursor: pointer;
        background-color: lighten($bg-black-light,5);
    }
}