.btn {
    z-index: 900;
    display: block;
    border: $border-main-color;
    border-style: inset;
    outline: none;
    cursor: pointer;
    padding: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .5ms;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
    box-shadow: 2px 2px 0.5rem black;
    //width: 20rem;
    &:hover {
        background-color: rgb(255, 19, 19);
        box-shadow: 2px 2px 1rem white;
        text-shadow: 4px 4px 4px black;
    }
    &:focus {
        animation: focus1 500ms ease-in infinite alternate;
    }
    &__main {
        color: white;
        &--yellow {
            background-color: $yellow-main-color;
        }
        &--yellow:hover {
            box-shadow: 2px 2px 1rem white;
            text-shadow: 4px 4px 4px black;
            background-color: rgb(161, 139, 13);
        }
        &--red {
            background-color: $red-main-color;
        }
        &--black {
           background-color: $bg-black-light;
           &:hover {
               background-color: $red-main-color;
           }
        }
    }

    &__big {
        padding: 1.5rem 6.5rem;
    }

    &__huge {
        padding: 2.3rem 8.5rem;
        font-size: 1.7rem;
    }
}

.logut-buttons {
    margin-top: 9rem;
    display: flex;
    justify-content: space-around;
    position: relative;
}

@keyframes focus1 {
    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
}