.custom-scroll {
    overflow-y: auto;
    padding-right: 33px;
    &::-webkit-scrollbar {
        width: 10px;
        //margin-right: 2px;
        position: relative;
    }

    &::-webkit-scrollbar-track {
        background: $bg-black-medium;
        //border: 5px solid transparent;
        // /background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb {
        background: $bg-black-light;
        border: 1px solid $yellow-main-color;
    }

    &::-webkit-scrollbar-button {}

    &::-webkit-scrollbar-button:start:increment {
        height: 0;
    }

    &::-webkit-scrollbar-button:end:increment {
        display: block;
        background-size: 10px 5px;
        background-repeat: no-repeat;
        background-image: url(/img/strelica.png);
        width: 10px;
    }
    &::-webkit-scrollbar-button:start:decrement {
        display: block;
        background-size: 10px 5px;
        background-repeat: no-repeat;
        background-image: url(/img/strelica1.png);
        width: 10px;
    }
}

.scroll-container {
    background: $bg-black-dark;
    padding-right: 10rem;
    height: 100%;

    & > div {
        height: 100%;
    }
}