#game-area {
    padding: 3.5rem 3rem;
    min-height: 50rem;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, $yellow-main-color 0%, $red-main-color 49%, $red-main-color 100%) 2 2 2 2;
    background-color: $bg-black-dark;
    display: flex;
    justify-content: center;

    & img {
        align-self: center;
    }

}

.answer-submit {
    z-index: 1;
    padding: 3rem;
    background-color: $bg-black-dark;
    margin-top: 2rem;
    border: solid 2px transparent;
    border-image: linear-gradient(to right, $yellow-main-color 0%, $red-main-color 49%, $red-main-color 100%) 2 2 2 2;
    @include clearfix;
    display: flex;
    align-items: center;
    &__question {
        font-size: 1.75rem;
        width: 45%;
        margin-right: 5%;
        & span {
            color: $red-main-color;
            font-weight: 600;
            font-size: 1.95rem;
            text-transform: uppercase;
        }
    }
    // & > * {
    //     float: left;
    // }

    &__group {
        display: flex;
        justify-content: space-between;
        width: 50%;
        & * {
            display: inline-block;
        }
    }
    &__input {
        width: 100%;
        padding-left: 2rem;
        font-size: 2rem;
    }
    &__btn {

    }
}

.game-status {
    & i {
        margin-right: 3rem;
    }
}

.user-stats {
    width: 85rem;
    text-align: center;
    overflow: hidden;
}