.table-main {
        text-align: center;
        background-color: $bg-black-light;
        font-size: 1.5rem;
    & th,& td {
        padding: .65rem .95rem;
    }
    & th {
       // padding: .65rem .764rem;
        background-color: $bg-black-medium;
        border-bottom: $yellow-main-color 3px solid;
    }
    &__username {
        font-weight: 800;
    }

    &__user {
        
    }
}

.table-stats {
    font-size: 2rem;
    border-collapse: collapse;
    & th, & td {
        border: 1px solid;
        padding: .44rem .694rem;
    }
    & thead th {
        border: none!important;
        color: $red-main-color;
        padding: 1.15rem 0;
        background: $bg-black-light;
    }
    & tbody tr td:first-child {
        font-weight: 800;
    }
    & tbody tr td:last-child {

    }
}

.table-history {
    //min-width: 57rem;
    & pre {
        padding: 1.45rem 0;
    }
    margin: 0 auto;
    width: 85%;
    font-size: 1.55rem;
    border-collapse: collapse;
    & th, & td {
        border: 1px solid white;
        padding: 1.13rem 1.26rem;
    }
    &__header {
        padding: .53rem .75rem;
        @include clearfix;
    }
    &:not(:last-child){
        margin-bottom: 4rem;
    }
    & tbody tr td:first-child {
        font-weight: 800;
        color: $yellow-main-color;
        border: 1px solid white;
    }
}