.main {
    padding: 2rem;
    background: url("/img/pattern.png");
    background-repeat: repeat;
    background-clip: padding-box;
    border: solid 2px transparent;
    position: relative;
    border-image: linear-gradient(to right, $yellow-main-color 0%, $red-main-color 49%, $red-main-color 100%) 2 2 2 2;
    //@include border-gradient($yellow-main-color,$red-main-color,2px);
    @include clearfix;

    @include respond(tab-port){
        
    }
    &__side-bar {
        height: 100%;
        width: 30%;
        background-color: $bg-black-medium; 
        float: left;
        padding: 6.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @include respond(tab-port){
            float: none;
            width: 100%;
            padding: 1.5rem;
            height: unset;
        }
        & .user-stats {
            margin: 2rem 0 3.5rem 0;
        }

        & .timer {
            margin-bottom: 2rem;
        }
        & .combo {
            margin-bottom: 2.8rem;
        }


    }
    &__main-content {
        position: relative;
        width: 70%;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        @include respond(tab-port){
            float: none;
            width: 100%;
        }
    }
}
